<!-- contact form -->
<section>
  <div class="container  mt-4 g-bg-transparent mb-3 pb-3">
    <form action="">
      <div class="form-group col-md-10 mx-auto">
        <label class="mb-0" for="name">
          <p class="text-light general-h4 mb-0">Join My Mailing List</p>
        </label>
        <input class="form-control form-control-sm mb-2 g-form-input" type="text"
          placeholder="Enter your email here">
        <button class="btn btn-block btn-sm btn-light text-mute" type="button">Subscribe Now</button>
      </div>
    </form>
  </div>

</section>