<!-- Header section -->
<div id="header-text">
  <div class="container col-md-8 mt-5 p-5">
    <br><br>
    <p class="text-light g-bg-transparent p-5">
      With his dark sultry vocals, captivating storytelling, and catchy rhythms, Sydny Dre is a fast-rising 
      singer/songwriter, multi-instrumentalist and music producer from Nigeria telling his story and sharing 
      his perspective with the world through relatable music. Armed with poetic lyricism and a sexy, chill 
      sound that complements his personality, his unique blend of afro-fusion born from his afro-percussive 
      roots as a child-drummer and teenage enthusiasm for Hip-hop and R&B, is unlike any other that exists or
      has existed before. He is definitely an artist to watch out for as he leaves memorable impressions on 
      his listeners in every song.
    </p>
    <br>
  </div>
</div>