
<!-- Nav Bar -->

<nav class="navbar navbar-expand-sm navbar-light mb-5 fixed-top">
  <div class="container  ">
    <a class="navbar-brand" href="#">Sydny dre</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon btn btn-light"></span>
    </button>
    <div class="collapse navbar-collapse text-center navbar-grey rounded" id="navbarNav">
      <ul class="navbar-nav justify-content-center mx-auto ">
        <li class=" nav-item mx-5 ">
          <a class="nav-link text-light" href="#home">Home</a>
        </li>
        <li class="nav-item mx-5 ">
          <a class="nav-link text-light" href="#gallery"></a>
        </li>
        <li class="nav-item mx-3 ">
          <a class="nav-link text-light" href="#gallery">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

